# Bus Validation Report

- **bus_agency_clean.csv**: PASS
- **bus_stops_clean.csv**: PASS
- **bus_routes_clean.csv**: PASS
- **bus_trips_clean.csv**: PASS
- **bus_stop_times_clean.csv**: PASS
- **bus_tgsrtc_stops_clean.csv**: PASS
- **smartcities_bus_fleet_clean.csv**: PASS
- **bus_stops.geojson**: PASS
- **bus_routes.geojson**: PASS
- **bus_stops_lgd_mapping.csv**: PASS
- **bus_route_lgd_mapping.csv**: PASS
- **GTFS_Integrity_Routes**: PASS
- **GTFS_Integrity_Trips**: PASS
- **GTFS_Integrity_Stops**: PASS
